@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    height: 55%;
    width: 20%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    border-radius: 1.5rem;
    gap: 3.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.336);
}

.login-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 2.2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.input-box {
    width: 122.5%;
}

.input-box > label {
    color: gray;
    font-size: 1.5rem;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: text;
    border-bottom: 0.1rem solid blueviolet;
}

.input-field > i {
    font-size: 2rem;
    color: black;
}

.input-field > input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 1.6rem;
    padding: 0rem 0.5rem;
    outline: none;
}

.forgot-password > a {
    text-decoration: none;
    color: gray;
    font-size: 1.4rem;
}

button {
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

@media (max-width: 950px) {
    .login-form {
        height: 53%;
        width: 60%;
    }
    .input-box {
        width: 107.5%;
    }
}

@media (max-width: 450px) {
    .login-form {
        height: 48%;
        width: 75%;
    }
    .input-box {
        width: 110%;
    }
}

@media (min-height: 700px) {
    .login-form {
        height: 50%;
    }
}

@media (min-height: 750px) {
    .login-form {
        height: 47.5%;
    }
}

@media (min-height: 800px) {
    .login-form {
        height: 45%;
    }
}

@media (min-height: 850px) {
    .login-form {
        height: 42.5%;
    }
}

@media (min-height: 900px) {
    .login-form {
        height: 40%;
    }
}

@media (min-height: 950px) {
    .login-form {
        height: 37.5%;
    }
}

@media (min-height: 1000px) {
    .login-form {
        height: 35%;
    }
}

@media (min-height: 1050px) {
    .login-form {
        height: 32.5%;
    }
}

@media (min-height: 1100px) {
    .login-form {
        height: 30%;
    }
}